[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    C0304,
    W0611,
    E0401,
    E0611,
    W0718,
    E1102, ; Ignora error de 'func.now'
    C0103, ; Ignora nombres de constantes en minúscula
    C0301, ; Ignora líneas muy largas
    C0411, ; Ignora orden de importaciones
    C0303  ; Ignora espacios en blanco al final